CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_PACKAGE_avahi-dbus-daemon=m
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_cups=y
CONFIG_PACKAGE_cups-bsd=y
CONFIG_PACKAGE_cups-client=y
CONFIG_PACKAGE_cups-filters=y
CONFIG_PACKAGE_cups-opfilter=y
CONFIG_PACKAGE_cups-ppdc=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_fontconfig=m
CONFIG_PACKAGE_ghostscript=m
CONFIG_PACKAGE_ghostscript-fonts-std=m
CONFIG_PACKAGE_glib2=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_lcms2=m
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libavahi-client=m
CONFIG_PACKAGE_libavahi-dbus-support=m
CONFIG_PACKAGE_libcups=m
CONFIG_PACKAGE_libcupsimage=m
CONFIG_PACKAGE_libdaemon=m
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libfreetype=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libjpeg-turbo=m
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libpcre2=m
CONFIG_PACKAGE_libpng=m
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libtiff=m
CONFIG_PACKAGE_libusb-1.0=m
CONFIG_PACKAGE_lua-md5=m
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
CONFIG_PACKAGE_luci-app-pgyvpn=m
CONFIG_PACKAGE_luci-app-phtunnel=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-phtunnel-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_pgyvpn=m
CONFIG_PACKAGE_phtunnel=y
CONFIG_PACKAGE_poppler=m
CONFIG_PACKAGE_qpdf=m
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_zerotier=y
# CONFIG_PACKAGE_kmod-crypto-kpp is not set
CONFIG_PACKAGE_zlib=y
